<!DOCTYPE html>
<html lang=en>
<head>
    
    <meta name="keywords" content="carti, preturi, cumparator, bestseller, promotii, autori, reducere">
    <meta name="description" content="Eshopul librariei online (diferite tipuri de carti).">
    <%- include("../fragmente/head.ejs") %>
    <title>Eroare 404</title>
    <script src="https://kit.fontawesome.com/70c7e53b74.js" crossorigin="anonymous"></script>
    <title>Librarie online - E-shop</title>  
    
 </head>
<body>
<%- include("../fragmente/header.ejs") %>
    
    <main>
        <section>
            <h2>Eroare 404</h2>
            <p>Scuze, nu este nimic de citit aici!</p>
            <img src="resurse/imagini/No-reading-sign-.jpg" alt="eroare 404" width="80%">
        </section>
    </main>
    <footer>
        <%- include("../fragmente/footer.ejs") %>
    </footer>
</body>
</html>