<!DOCTYPE html>
<html lang=en>
<head>
    
    <meta name="keywords" content="carti, preturi, cumparator, bestseller, promotii, autori, reducere">
    <meta name="description" content="Eshopul librariei online (diferite tipuri de carti).">
    <%- include("../fragmente/head.ejs") %>
    
    <script src="https://kit.fontawesome.com/70c7e53b74.js" crossorigin="anonymous"></script>
    <title>Librarie online - E-shop</title>  

 </head>
<body>
<%- include("../fragmente/header.ejs") %>
    
    <main>
        <section>
            <h2>Club de carte</h2>
            ...
        </section>
    </main>
    <footer>
        <%- include("../fragmente/footer.ejs") %>
    </footer>
</body>
</html>