<!DOCTYPE html>
<html lang=en>
<head>
    
    <meta name="keywords" content="carti, preturi, cumparator, bestseller, promotii, autori, reducere">
    <meta name="description" content="Eshopul librariei online (diferite tipuri de carti).">
    <%- include("../fragmente/head.ejs") %>
    
    <script src="https://kit.fontawesome.com/70c7e53b74.js" crossorigin="anonymous"></script>
    <title>Librarie online - Istoric</title>  
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico"/>
 </head>
<body>
<%- include("../fragmente/header.ejs") %>
    
    <main>
        <section id="descriere" class="grid-item">
            <h2>Istoric</h2>
            <section>
                <h3>Motivatie</h3>
                <p>Compania noastra a fost creata din dorinta de a oferi comunitatii online un mediu prietenos, in care sa (re)descopere pasiunea cititului.</p>
            </section>
            <section>
                <h3>Inceputuri</h3>
                <p>Prima forma a site-ului a aparut in 2019, prin intermediul Clubului de Carte initiat tot cu aceeasi ocazie. Asa am pornit la drum! Apoi, in 2021, ne-am extins in formatul de acum.</p>
            </section>
            <section>
                <h3>Acum</h3>
                <p>In acest moment, dorim sa ne dezvoltam influenta cat mai mult in mediul online, prin intermediul social media. De asemenea, un plan ambitios al nostru pentru viitor este sa ne deschidem o librarie in format fizic.</p>
            </section>

        </section>
    </main>
    <footer>
        <%- include("../fragmente/footer.ejs") %>
    </footer>
</body>
</html>