
        <div><a href="#sus" id="top" class="tooltip">&#5123;
            <span id="mesaj" class="tooltiptext">Up you go!</span></a>
        </div>
        <hr>
        <address>
            Ne puteti contacta la numarul de telefon
            <a href="tel:0123456789">0123456789</a>, pe
            <a href="mailto:librarie@gmail.com"> mail</a>
             sau fizic la adresa str. Ion Popescu nr.7.
        </address>
        <p><small>Copyright &copy;<time datetime="2021-03-10">10 Martie 2021</time> Madalina Badescu</small></p>

    