<header id="sus">
    <div id="banner"><p>ACESTA ESTE UN PROIECT SCOLAR!:)</p></div>
    <h1 id="absolute">Librarie Online</h1>
    <nav>
        <label id="hamburger" for="ch-menu">
            <!-- <img src="resurse/imagini/buger.png" alt="menu"> -->
        </label>
        <!-- <input id="ch-menu" type="checkbox"> -->
        <ul class="menu">
            <li class="dropdown">
                <a href="index" class="dropbtn"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Acasa</a>
                <div class="dropdown-content">
                    <a href="#descriere"><span class="arrow">&#8594;</span>Descriere</a>
                    <a href="#bestsellers"><span class="arrow">&#8594;</span>Bestsellers</a>
                    <a href="#titlul"><span class="arrow">&#8594;</span>Titlul lunii pentru Clubul de carte</a>
                </div>
            </li>
            <li><a href="/istoric">Istoric</a></li>
            <li class="dropdown">
                <a href="" class="dropbtn">Produse</a>
                <div class="dropdown-content">
                    <a href="/produse"><span class="arrow">&#8594;</span>Toate</a>
                    <a href=""><span class="arrow">&#8594;</span>Fantasy</a>
                    <a href=""><span class="arrow">&#8594;</span>Clasic</a>
                    <a href=""><span class="arrow">&#8594;</span>Contemporan</a>
                    <a href=""><span class="arrow">&#8594;</span>Istoric</a>
                    <a href=""><span class="arrow">&#8594;</span>Romantic</a>
                    <a href=""><span class="arrow">&#8594;</span>Mister</a>
                    <a href=""><span class="arrow">&#8594;</span>Horror</a>
                </div>
            </li>
            <li><a href="/recomandari">Recomandari</a></li>
            <li><a href="/club">Clubul de carte</a></li>        
        </ul>
    </nav>
</header>